<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/blog.css">
    <title>Sashas blog</title>
</head>

<body>
    <div class="page-header">
        <h1>
            <a href="/">Django Girls Blog</a>
        </h1>
    </div>
    <div class="content container">
        <div >
            <div >
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>