<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/blog.css">
    <title>Sashas blog</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <H1>Hello, folks, I'm a carbon atom.</H1>
        </div>
        <div class="main">
            <p class="main-time-published">published: 26.10.2018, 17:35</p>
            <h2 class="main-head-post">
                <a class="main-head-post_link-post" href="#">My first post</a>
            </h2>
            <p class="main-post-text">
                 Gold and silver is the autumn Soft and tender are her skies Yes and no are the answers Written in my true love's eyes Autumn's
                leaving and winter's coming I think that I'll be moving along I've got to leave her and find another I've got to sing my
                heart's true song Round and round the burning circle All the seasons: one, two, and three Autumn leaves and then there winter
                Spring is born and wanders free Gold and silver burns my autumns All too soon they'd fade and die And then I'd know, there'd
                be no others Milk and honey were their lies Written 
               
            </p>
        </div>
        <div class="footer"></div>
    </div>
    
</body>
</html>